<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-image">
            <a href="{{ item.image }}" data-lightbox="{{ item.title }}" data-title="{{ item.title }} por {{ item.price }} MTs">
                <img src="{{ item.image }}" alt="{{ item.title }}">
            </a>
            {% include snipcart-btn.html %}
        </div>
        <div class="card-content center">
            <span class="card-title grey-text text-darken-4">
                {{ item.title }} <br>{{ item.price }} MTs
            </span>
            <a class="activator btn-flat waves-effect waves-block">Veja Mais <i class="fas fa-ellipsis-v"></i></a>
        </div>
        <div class="card-reveal center">
            <span class="card-title">{{ item.title }}<br>{{ item.price }} MTs <i class="fas fa-times right"></i></span>

            <p>{{ item.description }}</p>
        </div>
    </div>
</div>