<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">
                {% if page.title %}
                    {{ page.title }}
                    {% else %}
                        {{ site.title | uppercase }}
                {% endif %}
            </a>
            <a href="#" data-target="sideNav" class="sidenav-trigger show-on-large"><i class="fa-2x fas fa-bars"></i></a>

            <ul class="right">
                <li>
                    <a href="" class="waves-effect waves-light snipcart-checkout tooltipped" data-position="bottom" data-delay="50" data-tooltip="Carrinho de Compras">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="new badge snipcart-summary">
                            <span class="snipcart-total-items"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>