<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">{{ site.title }}</a>
            <a href="#" data-target="sideNav" class="sidenav-trigger"><i class="fa-2x fas fa-bars"></i></a>

            <ul class="right hide-on-small-only">
                {% for item in site.data.social %}
                    <li>
                        <a href="{{ item.link }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{ item.title }}">
                            <i class="fab fa-{{ item.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="nav-content">
            <a href="#" 
                class="snipcart-checkout btn-floating btn-large halfway-fab waves-effect waves-circle waves-light tooltipped" 
                data-position="bottom" 
                data-delay="50" 
                data-tooltip="Carrinho de Compra">
                <i class="fa-2x fas fa-shopping-cart"></i>
            </a>
        </div>
    </nav>
</div>