<aside id="cart-summary" class="sidenav">
    <div class="snipcart-summary">
        <a href="#" class="snipcart-user-profile">
            <span class="snipcart-user-email">Login</span>
        </a>
        <a href="#" class="snipcart-user-logout">
            Logout
        </a>
        <a href="#" class="snipcart-edit-profile">
            Edit profile
        </a>

        Produtos: <span class="snipcart-total-items"></span>
        Preço Total: <span class="snipcart-total-price"></span>
    </div>
</aside>