<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
    <body class="grey lighten-4">
        {% include navbar.html %}
        {% include sidenav.html %}
        {% include header.html %}


        <main class="animate-bottom">
            <div class="container">
                <div id="masonry-grid" class="row">
                    {{ content }}          
                </div>
            </div>
        </main>
            
        {% include footer.html %}

        {% include scripts.html %}
    </body>
</html>